T4/WSDLOffertaCasa.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ws.apache.org/axis2" 
xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
targetNamespace="http://ws.apache.org/axis2">
	<wsdl:documentation>InterfacciaOffertaCasa</wsdl:documentation>
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" 
		targetNamespace="http://ws.apache.org/axis2">
			<xs:element name="ricercaOfferte">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="args2" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="args3" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ricercaOfferteResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pubblicaPropostaScambio">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
						<xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="pubblicaPropostaScambioResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="ricercaOfferteRequest">
		<wsdl:part name="parameters" element="ns:ricercaOfferte"/>
	</wsdl:message>
	<wsdl:message name="ricercaOfferteResponse">
		<wsdl:part name="parameters" element="ns:ricercaOfferteResponse"/>
	</wsdl:message>
	<wsdl:message name="pubblicaPropostaScambioRequest">
		<wsdl:part name="parameters" element="ns:pubblicaPropostaScambio"/>
	</wsdl:message>
	<wsdl:message name="pubblicaPropostaScambioResponse">
		<wsdl:part name="parameters" element="ns:pubblicaPropostaScambioResponse"/>
	</wsdl:message>
	<wsdl:portType name="InterfacciaOffertaCasaPortType">
		<wsdl:operation name="ricercaOfferte">
			<wsdl:input message="ns:ricercaOfferteRequest" 
			wsaw:Action="urn:ricercaOfferte"/>
			<wsdl:output message="ns:ricercaOfferteResponse" 
			wsaw:Action="urn:ricercaOfferteResponse"/>
		</wsdl:operation>
		<wsdl:operation name="pubblicaPropostaScambio">
			<wsdl:input message="ns:pubblicaPropostaScambioRequest" 
			wsaw:Action="urn:pubblicaPropostaScambio"/>
			<wsdl:output message="ns:pubblicaPropostaScambioResponse" 
			wsaw:Action="urn:pubblicaPropostaScambioResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InterfacciaOffertaCasaSoap11Binding" type="ns:InterfacciaOffertaCasaPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="ricercaOfferte">
			<soap:operation soapAction="urn:ricercaOfferte" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="pubblicaPropostaScambio">
			<soap:operation soapAction="urn:pubblicaPropostaScambio" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="InterfacciaOffertaCasaSoap12Binding" type="ns:InterfacciaOffertaCasaPortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="ricercaOfferte">
			<soap12:operation soapAction="urn:ricercaOfferte" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="pubblicaPropostaScambio">
			<soap12:operation soapAction="urn:pubblicaPropostaScambio" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="InterfacciaOffertaCasaHttpBinding" type="ns:InterfacciaOffertaCasaPortType">
		<http:binding verb="POST"/>
		<wsdl:operation name="ricercaOfferte">
			<http:operation location="ricercaOfferte"/>
			<wsdl:input>
				<mime:content type="application/xml" part="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="pubblicaPropostaScambio">
			<http:operation location="pubblicaPropostaScambio"/>
			<wsdl:input>
				<mime:content type="application/xml" part="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InterfacciaOffertaCasa">
		<wsdl:port name="InterfacciaOffertaCasaHttpSoap11Endpoint" binding="ns:InterfacciaOffertaCasaSoap11Binding">
			<soap:address location="http://localhost:8080/axis2/services/InterfacciaOffertaCasa.InterfacciaOffertaCasaHttpSoap11Endpoint/"/>
		</wsdl:port>
		<wsdl:port name="InterfacciaOffertaCasaHttpSoap12Endpoint" binding="ns:InterfacciaOffertaCasaSoap12Binding">
			<soap12:address location="http://localhost:8080/axis2/services/InterfacciaOffertaCasa.InterfacciaOffertaCasaHttpSoap12Endpoint/"/>
		</wsdl:port>
		<wsdl:port name="InterfacciaOffertaCasaHttpEndpoint" binding="ns:InterfacciaOffertaCasaHttpBinding">
			<http:address location="http://localhost:8080/axis2/services/InterfacciaOffertaCasa.InterfacciaOffertaCasaHttpEndpoint/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>