T3/WSDLServiziAccessori.xml

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ws.apache.org/axis2" 
xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
targetNamespace="http://ws.apache.org/axis2">
	<wsdl:documentation>InterfacciaServiziAccessori</wsdl:documentation>
	<wsdl:types>
		<xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" 
		targetNamespace="http://ws.apache.org/axis2">
			<xs:element name="creaPianificazione">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="creaPianificazioneResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ottieniRiferimentoServiziAccessori">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ottieniRiferimentoServiziAccessoriResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="creaPianificazioneRequest">
		<wsdl:part name="parameters" element="ns:creaPianificazione"/>
	</wsdl:message>
	<wsdl:message name="creaPianificazioneResponse">
		<wsdl:part name="parameters" element="ns:creaPianificazioneResponse"/>
	</wsdl:message>
	<wsdl:message name="ottieniRiferimentoServiziAccessoriRequest">
		<wsdl:part name="parameters" element="ns:ottieniRiferimentoServiziAccessori"/>
	</wsdl:message>
	<wsdl:message name="ottieniRiferimentoServiziAccessoriResponse">
		<wsdl:part name="parameters" element="ns:ottieniRiferimentoServiziAccessoriResponse"/>
	</wsdl:message>
	<wsdl:portType name="InterfacciaServiziAccessoriPortType">
		<wsdl:operation name="creaPianificazione">
			<wsdl:input message="ns:creaPianificazioneRequest" 
			wsaw:Action="urn:creaPianificazione"/>
			<wsdl:output message="ns:creaPianificazioneResponse" 
			wsaw:Action="urn:creaPianificazioneResponse"/>
		</wsdl:operation>
		<wsdl:operation name="ottieniRiferimentoServiziAccessori">
			<wsdl:input message="ns:ottieniRiferimentoServiziAccessoriRequest" 
			wsaw:Action="urn:ottieniRiferimentoServiziAccessori"/>
			<wsdl:output message="ns:ottieniRiferimentoServiziAccessoriResponse" 
			wsaw:Action="urn:ottieniRiferimentoServiziAccessoriResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InterfacciaServiziAccessoriSoap11Binding" type="ns:InterfacciaServiziAccessoriPortType">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="creaPianificazione">
			<soap:operation soapAction="urn:creaPianificazione" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ottieniRiferimentoServiziAccessori">
			<soap:operation soapAction="urn:ottieniRiferimentoServiziAccessori" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="InterfacciaServiziAccessoriSoap12Binding" type="ns:InterfacciaServiziAccessoriPortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
		<wsdl:operation name="creaPianificazione">
			<soap12:operation soapAction="urn:creaPianificazione" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ottieniRiferimentoServiziAccessori">
			<soap12:operation soapAction="urn:ottieniRiferimentoServiziAccessori" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="InterfacciaServiziAccessoriHttpBinding" type="ns:InterfacciaServiziAccessoriPortType">
		<http:binding verb="POST"/>
		<wsdl:operation name="creaPianificazione">
			<http:operation location="creaPianificazione"/>
			<wsdl:input>
				<mime:content type="application/xml" part="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ottieniRiferimentoServiziAccessori">
			<http:operation location="ottieniRiferimentoServiziAccessori"/>
			<wsdl:input>
				<mime:content type="application/xml" part="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="application/xml" part="parameters"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InterfacciaServiziAccessori">
		<wsdl:port name="InterfacciaServiziAccessoriHttpSoap11Endpoint" binding="ns:InterfacciaServiziAccessoriSoap11Binding">
			<soap:address location="http://localhost:8080/axis2/services/InterfacciaServiziAccessori.InterfacciaServiziAccessoriHttpSoap11Endpoint/"/>
		</wsdl:port>
		<wsdl:port name="InterfacciaServiziAccessoriHttpSoap12Endpoint" binding="ns:InterfacciaServiziAccessoriSoap12Binding">
			<soap12:address location="http://localhost:8080/axis2/services/InterfacciaServiziAccessori.InterfacciaServiziAccessoriHttpSoap12Endpoint/"/>
		</wsdl:port>
		<wsdl:port name="InterfacciaServiziAccessoriHttpEndpoint" binding="ns:InterfacciaServiziAccessoriHttpBinding">
			<http:address location="http://localhost:8080/axis2/services/InterfacciaServiziAccessori.InterfacciaServiziAccessoriHttpEndpoint/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>